body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(221, 221, 221, 0.966);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.video-container{
text-align: center;
}
.media{
  margin-top: 1rem;
}
.card-content{
  text-align: center;
  padding: 10rem 0px !important;
}
video{
  margin: 0px auto;
}
.header {
  text-align: center;
  color: rgba(165, 42, 42, 0.815);
  font-weight: 600 !important;
  font-size: 2.5rem !important;
  font-family: cursive !important;
  padding: 1.3rem;
}
.App{
  margin-bottom: 10rem;
}
